<suite name="Exclude Group Suite" verbose="1">
    <test name="paramTest">
        <parameter name="setup" value="firstValue"/>
        <parameter name="teardown" value="secondValue"/>
        <classes>
            <class name="com.example.PropTest"/>
        </classes>
    </test>
    <test name="Exclude Group Test">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
                <exclude name="e2e"/>
            </run>
        </groups>
        <classes>
            <class name="com.example.GroupTest"/>
        </classes>
    </test>
</suite>